* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f5f7 !important;
}

:root {
  --primary-color: #6070ff;
  --secondary-color: #344563;
  --third-color: #396df2;
  --abstract-color: #172b4d;
  --simple-color: #ebebff;
  --neutral-color: #7a869a;
  --normall-color: #000;
  --general-color: #f7f7f9;
  --sample-color: #7f8cff;
  --title-color: #091e42;
}

.navbar-section {
  padding: 26px 143px !important;
  background-color: #fff !important;
}

.my-logo {
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}

#hero-section {
  background-image: url(../img/Header_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 846px !important;
  border-bottom-left-radius: 100px;
  background-color: #fff !important;
}

.hero-container {
  padding: 289px 260px;
}

.hero-title {
  color: var(--title-color);
  font-size: 48px;
}

#work-container {
  margin: 142px;
}

.card-rounded {
  border-radius: 24px !important;
}

.card-title {
  font-size: 40px;
}

.card-btn {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.card-btn:hover{
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.btn-techs {
  background-color: var(--simple-color) !important;
  color: var(--primary-color) !important;
}

.skill-item {
  background-color: var(--general-color);
  width: 122px;
  height: 120px;
}

.about-container {
  background-color: #fff;
  padding: 142px;
  border-top-right-radius: 100px;
}

.about-title {
  font-size: 40px;
  color: var(--abstract-color);
}