* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #6070ff;
  --secondary-color: #344563;
  --third-color: #396df2;
  --abstract-color: #172b4d;
  --simple-color: #ebebff;
  --neutral-color: #7a869a;
  --normall-color: #000;
  --general-color: #f7f7f9;
  --sample-color: #7f8cff;
}

.navbar-section {
  padding: 26px 143px !important;
}

.my-logo {
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}
