* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f5f7 !important;
}

:root {
  --primary-color: #6070ff;
  --secondary-color: #344563;
  --third-color: #396df2;
  --abstract-color: #172b4d;
  --simple-color: #ebebff;
  --neutral-color: #7a869a;
  --normall-color: #000;
  --general-color: #f7f7f9;
  --sample-color: #7f8cff;
  --title-color: #091e42;
}

.navbar-section {
  padding: 26px 143px !important;
  background-color: #fff !important;
}

.my-logo {
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}

#hero-section {
  background-image: url(../img/Header_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 846px !important;
  border-bottom-left-radius: 100px;
  background-color: #fff !important;
}

.hero-container {
  padding: 289px 260px;
}

.hero-title {
  color: var(--title-color);
  font-size: 48px;
}